* {
    box-sizing: border-box;
}

html,
body,
p {
    margin: 0 auto;
    padding: 0;
}

body {
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

h1 {
    padding: 20px;
    margin: 0;
    max-width: 100%;
    text-align: center;
    letter-spacing: 2px;
}

h2 {
    padding: 20px 5px;
    margin: 0;
    text-align: center;
}

header h1{
    background-color: #000000;
    color: white;
    text-align: center;
}

.searchBar {
    align-items: center;
}

.rounded {
    color: #000000;
    border-color: #000000;
    border-width: 2px;
}
.shortBtn {
   background-color: #000000;
   color:white; 
   width: auto;
   height: auto;

}

#objectContainer {
    width: 33%;
    float: left;
    margin-bottom: 20px;
    padding:0 10px;
    text-align: center;
    font-size: 24px;
}

#objectContainer img {
    width: 75%;
}

#searchresults {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#searchresults::after {
    display: table;
    clear: both;
    content: "";
}

@media screen and (max-width:1600px){
    #objectContainer img {
        width: 70%;
    }
}

@media screen and (max-width:998px){
    #objectContainer {
        width: 48%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:600px){
    #objectContainer {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

